name: Java CI

on: [workflow_dispatch, push, pull_request]

jobs:
  # Build Movecraft-WorldGuard
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Movecraft-WorldGuard
      uses: actions/checkout@v2
      with:
        path: Movecraft-WorldGuard
    - name: Checkout Movecraft-Combat
      uses: actions/checkout@v2
      with:
        repository: 'TylerS1066/Movecraft-Combat'
        path: Movecraft-Combat
        ref: 'main'
    - name: Set up JDK 16
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt-hotspot'
        java-version: '16'
    - name: Cache Maven packages
      id: cacheMain
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2
        restore-keys: ${{ runner.os }}-m2

    # Build Movecraft-Combat
    - name: Build Movecraft-Combat
      run:  mvn -B package -T 1C --file Movecraft-Combat/pom.xml

    # Build Movecraft-WorldGuard
    - name: Build Movecraft-WorldGuard
      run: mvn -B package -T 1C --file Movecraft-WorldGuard/pom.xml

    - name: Stage jar
      run: mkdir staging && cp Movecraft-WorldGuard/target/Movecraft-WorldGuard.jar staging
    - name: Rename jar
      run: mv staging/Movecraft-WorldGuard*.jar staging/Movecraft-WorldGuard_$GITHUB_SHA.jar
    - name: Upload jar
      uses: actions/upload-artifact@v2
      with:
        name: Movecraft-WorldGuard_Dev-Build
        path: staging/Movecraft-WorldGuard_*.jar
